config PMIC_FITI
	bool "enable panel side pmic control driver"
	help
	    PMIC_FITI Module control Fiti PMIC signal,
	    This pmic is only used for controlling the panel power on /off sequence.
	    The Fiti will control panel power sequence.
