MACHINE ??= "aud8110p2-d2"
DISTRO ?= "poky"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES ?= ""
PATCHRESOLVE = "noop"
SSTATE_DIR ?= "${TOPDIR}/../sstate-cache"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K"
CONF_VERSION = "1"
DL_DIR ?= "${TOPDIR}/../downloads"
INHERIT += "buildhistory"
BUILDHISTORY_COMMIT = "1"
INCOMPATIBLE_LICENSE ?= "GPL-3.0 LGPL-3.0 AGPL-3.0"
QEMU_TARGETS = ""
CONNECTIVITY_CHECK_URIS = ""
DISTRO_FEATURES_append = " systemd"
VIRTUAL-RUNTIME_init_manager = "systemd"
BB_NO_NETWORK ?= "${@int(os.path.isdir('${DL_DIR}/.git') == True)}"

