config MTK_CFA
	tristate "build cfa driver"
	help
	    This cfa module is used for eink color handle.
		    CFA will convert RGB format input picture to electronic conversion signal,
		    which will drive ink screen show input picture.
