config MTK_HWTCON
	tristate "build HWTCON driver"
	help
	This HWTCON module is used for drive electronic ink screen show picture.
		HWTCON convert Y4 format input picture to electronic signal,
		which will drive ink screen show input picture.
