[Unit]
Description=bluetooth Daemon
After=launcher_6627.service droproot_setup.service

[Service]
User=bluetooth
CapabilityBoundingSet=CAP_SYS_NICE CAP_CHOWN
AmbientCapabilities=CAP_SYS_NICE CAP_CHOWN
Type=simple
ExecStart=/usr/bin/btservice
StandardOutput=tty
StandardError=tty

[Install]
Alias=btservice
WantedBy=multi-user.target
