[Unit]
Description=bluetooth Daemon
After=launcher.service

[Service]
Type=simple
ExecStart=/usr/bin/btservice
StandardOutput=tty
StandardError=tty

[Install]
Alias=btservice
WantedBy=multi-user.target
