[Unit]
Description=mt66xx_drv_insmod
Before=wmtd.service

[Service]
Type=simple
ExecStart=/bin/sh /etc/mt66xx_drv_insmod.sh

[Install]
WantedBy=multi-user.target
