[Unit]
Description=WMT Daemon
After=network.target
Requires=nvram_daemon.service
After=nvram_daemon.service

[Service]
ExecStart=/usr/bin/wmt_loader
Type=oneshot

[Install]
Alias=wmtd
WantedBy=multi-user.target
