[Unit]
Description=stp dump Daemon
After=launcher.service

[Service]
Type=simple
ExecStart=/usr/bin/stp_dump3

[Install]
Alias=stp_dump
WantedBy=multi-user.target
